# Python virtual environment
backend/myenv/

# Python cache
__pycache__/
*.pyc

# Node modules
frontend/node_modules/

# Build files
frontend/dist/

# Environment variables
.env

# VS Code
.vscode/

backend/.env
.env