@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit',sans-serif;
}

body{
  background: #0F172A;
  color:#F8FAFC;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#1E293B;
}

::-webkit-scrollbar-thumb{
  background:#8B5CF6;
  border-radius:10px;
}

input,
button{
  outline:none;
}
.table {
  --bs-table-bg: transparent !important;
  --bs-table-color: #F8FAFC !important;
  --bs-table-border-color: #334155 !important;
}

.table tbody tr:hover {
  background-color: #334155 !important;
}

.table th {
  color: #94A3B8 !important;
}

.table td {
  color: #F8FAFC !important;
}